node_modules
.pnpm-store
dist
.next
.out
.turbo
.dynamodb
coverage
.git
.gitignore
Dockerfile
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.env
.env.*
apps/mobile/android/app/build
apps/mobile/ios/build
